//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
 	@media screen and (max-width: #{$breakpoint1}) {
        @content;
 	}
}
//============================================
// line-height
//============================================
@mixin line-height($fontsize, $lineheight ){
    //line-height: ($lineheight) + px;
    line-height: ($lineheight/10) + rem;
    //margin-top: (($lineheight - $fontsize)/2 * -1) + px;
    margin-top: ((($lineheight - $fontsize)/2 * -1) / 10 ) + rem;
    //use
    // @include line-height(14, 21)
    // don't input the Unit
}
//============================================
// Background RGB
//============================================
@mixin bg-rgb($color, $opacity : 1) {
    background: rgba(red($color), green($color), blue($color), $opacity);
}