///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

.u-underline{
	text-decoration: underline;
}
// Break
.u-breakline-sp{
	@include sp{
		&:after{
		    content: '\A';
		    white-space: pre;
		}
	}
}

.u-mgR15{
	margin-right: 15px;
	@include sp{
		margin-right: 0;
	}
}

// Display PC or SP
.u-pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.u-sp-only{
	display: none;
	@include sp{
		display: block;
	}
}

//body no scroll when click menu nav
.u-nosrcoll{
	overflow: hidden;
}