/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	border-top: solid 1px #555555;
	padding: 25px 0;
	@include sp{
		padding: 20px 0 25px;
		text-align: center;
	}
	//-------------------------------------------------------
	&__contact{
		font-size: 1.4rem;
		color: #333333;
		@include sp{
			font-size: 1.2rem;
		}
	}
	//-------------------------------------------------------
	&__nav{
	}
	//-------------------------------------------------------
	ul{
	}
	//-------------------------------------------------------
	li{
		display: inline-block;
		&:not(:last-child):after{
			content: ' | ';
			font-size: 1.4rem;
			color: #333333;
		}
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
		font-size: 1.4rem;
		color: #333333;
		@include sp{
			font-size: 1.2rem;
		}
	}
	//-------------------------------------------------------
	.l-btn{
		margin-top: 16px;
		@include sp{
			margin-top: 10px;
		}
	}

}