/*------------------------------------------------------------
header
------------------------------------------------------------*/

/* header for PC
------------------------------------------------------------*/
.c-header{
	padding-top: 24px;
	padding-bottom: 85px;
	@include sp{
		display: none;
	}
	//-------------------------------------------------------
	.l-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 31px;
	}
	//-------------------------------------------------------
	&__nav{
		width: 790px;
	}
}

/* navi for PC
------------------------------------------------------------*/
.c-gnavi{
	//-------------------------------------------------------
	ul{
		display: flex;
		justify-content: space-between;
	}
	//-------------------------------------------------------
	li{
		display: inline-block;
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
		font-size: 1.3rem;
		font-weight: bold;
		color: #000;
	}
	//-------------------------------------------------------
	.is-current{
		a{
			color: #888888;
			padding: 3px 0;
			border-bottom: solid 4px #888;
		}
	}
}

/* header for SP
------------------------------------------------------------*/
.c-headerSP{
	display: none;
	$root: &;
	@include sp{
		display: block;
		border-bottom: solid 2px #eee;
		margin-bottom: 40px;
	}
	//-------------------------------------------------------
	.l-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
	}
	//-------------------------------------------------------
	&__logo{
		width: 130px;
	}
	//-------------------------------------------------------
	&__menu{
		width: 40px;
		height: 40px;
		padding: 6px 12px;
	    border-radius: 5px;
	    border: solid 1px #ccc;
	    cursor: pointer;
		span{
			display: block;
			width: 15px;
			height: 2px;
			background: #23963c;
			margin-top: 5px;
			transition: all 0.25s ease;
		}
	}
	.is-open{
		span{
			&:nth-child(1){
				transform:rotate(-45deg) translate(-4px, 5px) scaleX(1.4);
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				transform: rotate(45deg) translate(-4px, -6px) scaleX(1.4);
			}
		}
	}
}

/* navi for SP
------------------------------------------------------------*/
.c-naviSP{
	//-------------------------------------------------------
	ul{
		position: fixed;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		//@include bg-rgb(#23963c, .8);
		transition: all 0.2s ease;
		z-index: 99999;
		@include bg-rgb(#fff);
	}
	//-------------------------------------------------------
	li{
		position: relative;
		border-bottom: solid 1px #ccc;
		&:first-child{
			border-top: solid 2px #eee;
		}
		&:after{
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			content: "\f138";
			font-size: 1.4rem;
			color: #40c95e;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #23963c;
		font-size: 1.4rem;
		padding: 10px 20px;
		display: inline-block;
		width: 100%;
	}
	//-------------------------------------------------------
	.is-show{
		height: 100%;
	}
}