/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	line-height: 1.5;
	min-width: 1200px;
	@include sp{
		min-width: 320px;
	}
}
/* layout container: base width
------------------------------------------------------------*/
.l-container{
	width: 1160px;
	margin: auto;
	@include sp{
		width: 100%;
		padding: 0 15px;
	}
}
/*
------------------------------------------------------------*/
.l-wrapper{
	display: flex;
    justify-content: space-between;
    @include sp{
    	flex-direction: column;
    }
}
