/*------------------------------------------------------------
nogyo
------------------------------------------------------------*/

/* section 1
------------------------------------------------------------*/
.p-nogyo1{
	margin-bottom: 90px;
	@include sp{
		margin-bottom: 45px;
	}
	//-------------------------------------------------------
	&__image{
		margin-bottom: 25px;
		@include sp{
			margin-bottom: 10px;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	//-------------------------------------------------------
	&__text{
		p{
			@include mincyo;
			color: #000;
			font-size: 1.5rem;
			text-indent: 15px;
			padding-bottom: 26px;
			@include sp{
				font-size: 1.3rem;
				text-indent: 0;
				padding-bottom: 15px;
			}
		}
	}
	//-------------------------------------------------------
	&__link{
		@include sp{
			text-align: center;
		}
		li{
		}
		a{
			text-decoration: none;
			color: #000;
			font-size: 1.4rem;
			display: inline-block;
			position: relative;
			margin: 9px 0;
			padding-right: 25px;
			@include sp{
				font-size: 1.2rem;
				margin: 6px 0;
			}
			&:after{
				content: '';
				background: url('../image/common/arrow.png') no-repeat;
				position: absolute;
				width: 14px;
				height: 15px;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}

/* section 2
------------------------------------------------------------*/
.p-nogyo2{
	margin-bottom: 102px;
	@include sp{
		margin-bottom: 60px;
	}
	&__slide{
		width: 560px;
		margin-right: 40px;
		@include sp{
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		img{
			width: 560px;
			@include sp{
				width: 100%;
				height: auto;
			}
		}
	}
	&__text{
		@include mincyo;
		font-size: 1.5rem;
		p{
			padding-bottom: 15px;
		}
		@include sp{
			font-size: 1.3rem;
		}
	}
}