/*------------------------------------------------------------
recipe
------------------------------------------------------------*/

/* section 1
------------------------------------------------------------*/
.p-recipe1{
	margin-bottom: 38px;
	@include sp{
		margin-bottom: 30px;
	}
	//-------------------------------------------------------
	&__block{
		margin-bottom: 29px;
	}
	//-------------------------------------------------------
	&__headline{
		color: #e2750c;
		margin-bottom: 10px;
		h3{
			font-size: 2rem;
			@include sp{
				font-size: 1.8rem;
			}
		}
		p{
			font-size: 1.6rem;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}
	//-------------------------------------------------------
	&__step{
		padding-top: 28px;
		@include sp{
			padding-top: 20px;
		}
		ul{
			flex-wrap: wrap;
		}
		li{
			width: 360px;
			margin-bottom: 45px;
			@include sp{
				width: 100%;
				margin-bottom: 20px;
			}
		}
		p{
			font-size: 1.4rem;
			@include sp{
				font-size: 1.2rem;
			}
		}
		p.u-step{
			font-size: 1.6rem;
			color: #e2750c;
			font-weight: bold;
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}
	//-------------------------------------------------------
	.c-imgbox{
		width: 510px;
		@include sp{
			width: 100%;
			margin-bottom: 15px;
		}
	}
	//-------------------------------------------------------
	.c-table1{
		width: 620px;
		@include sp{
			width: 100%;
		}
		td, th{
			height: 30px;
			@include sp{
				height: 25px;
			}
		}
		th:nth-child(1){
			width: 250px;
			@include sp{
				width: 40%;
			}
		}
		th:nth-child(2){
			width: 157px;
			@include sp{
				width: 35%;
			}
		}
	}
}

/* section 2
------------------------------------------------------------*/
.p-recipe2{
	//-------------------------------------------------------
	&__block{
		margin-bottom: 75px;
		@include sp{
			margin-bottom: 40px;
		}
	}
	//-------------------------------------------------------
	.c-titleBg{
		margin-bottom: 19px;
	}
	//-------------------------------------------------------
	ul{
		flex-wrap: wrap;
	}
	//-------------------------------------------------------
	li{
		margin-bottom: 20px;
	}
	//-------------------------------------------------------
	.c-card{
		width: 220px;
		@include sp{
			width: 100%;
		}
	}
}