/*------------------------------------------------------------
syokuin
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-syokuin1{
	margin-bottom: 100px;
	@include sp{
		margin-bottom: 50px;
	}
	.c-table2{
		th{
			width: 230px;
			@include sp{
				width: 100%;
			}
		}
	}
}