/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/* layout button
------------------------------------------------------------*/
.l-btn{
	display: flex;
	&--inline{
		.c-btn{
			margin-right: 20px;
		}
	}
	&--column{
		flex-direction: column;
		.c-btn{
			margin-bottom: 10px;
		}
	}
}

/* button style
------------------------------------------------------------*/
.c-btn{
	display: inline-block;
	//-------------------------------------------------------
	a{
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		display: inline-block;
		min-width: 160px;
		padding-top: 8px;
		padding-bottom: 9px;
		text-align: center;
		background: #888888;
		text-decoration: none;
		@include sp{
			width: 100%;
			font-size: 1.3rem;
			padding-top: 6px;
			padding-bottom: 7px;
		}
		&:hover{
			background: #bbbbbb;
		}
	}
}