/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-titleSection{
	text-align: center;
	padding-bottom: 42px;
	@include sp{
		padding-bottom: 20px;
	}
	//-------------------------------------------------------
	h2{
		font-size: 3.2rem;
		@include mincyo;
		@include sp{
			font-size: 2.8rem;
		}
	}
	//-------------------------------------------------------
	p{
		font-size: 1.6rem;
		color: #999999;
		margin-top: -6px;
		@include mincyo;
		@include sp{
			font-size: 1.4rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-titleBg{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f6f0d5;
	border: solid 1px #e6e6e6;
	@include sp{
		height: 30px;
	}
	//-------------------------------------------------------
	h3, h4, h5, h6, span{
		font-size: 1.6rem;
		@include sp{
			font-size: 1.4rem;
		}
	}
}