/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgbox{
	//-------------------------------------------------------
	&__image{
		margin-bottom: 15px;
		@include sp{
			margin-bottom: 10px;
		}
	}
	//-------------------------------------------------------
	&__title{
		height: 2.4rem;
		display: flex;
		align-items: center;
		background: #e2750c;
		padding: 0 20px;
		margin-bottom: 5px;
		max-width: fit-content;
		@include sp{
			height: 2rem;
			padding: 0 16px;
		}
		h3, h4, h5, h6{
			font-size: 1.4rem;
			color: #fff;
			@include sp{
				font-size: 1.2rem;
			}
		}
	}
	//-------------------------------------------------------
	&__text{
		p{
			font-size: 1.4rem;
			@include sp{
				font-size: 1.2rem;
			}
		}
	}
}


/* 
------------------------------------------------------------*/
.c-card{
	border: solid 1px #d5d5d5;
	//-------------------------------------------------------
	&__image{
		@include sp{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	//-------------------------------------------------------
	&__text{
		padding: 10px;
		@include sp{
			padding: 8px;
		}
		p{
			font-size: 1.3rem;
			font-weight: bold;
			@include sp{
				font-size: 1.2rem;
			}
		}
	}
}