/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	//-------------------------------------------------------
	table{
		font-size: 1.4rem;
		width: 100%;
		border-collapse: collapse;
		border: solid 1px #d8d8d8;
		@include sp{
			font-size: 1.2rem;
		}
	}
	//-------------------------------------------------------
	th, td{
		padding: 7px;
		border: solid 1px #d8d8d8;
		@include sp{
			padding: 5px;
		}
	}
	//-------------------------------------------------------
	th{
		background: #e6e6e6;
		text-align: left;
	}
}

/*
------------------------------------------------------------*/
.c-table2{
	//-------------------------------------------------------
	table{
		font-size: 1.6rem;
		width: 100%;
		border-collapse: collapse;
		border: solid 1px #555555;
		@include sp{
			font-size: 1.4rem;
			border: 0;
			border-bottom: solid 1px #555555;
		}
	}
	//-------------------------------------------------------
	th, td{
		padding: 26px;
		border: solid 1px #555555;
		@include sp{
			display: block;
			padding: 10px 10px 12px;
			border-bottom: 0;
		}
	}
	//-------------------------------------------------------
	th{
		vertical-align: text-top;
		background: #e6e6e6;
		text-align: left;
		@include sp{
			text-align: center;
		}
	}
	p{
		padding-bottom: 10px;
		@include sp{
			padding-bottom: 8px;
		}
		&:last-child{
			padding-bottom: 0;
		}
	}
}
