/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots{
	position: absolute;
    bottom: -29px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    @include sp{
    	bottom: -20px;
    }
    //-------------------------------------------------------
    li{
    	position: relative;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	}
	//-------------------------------------------------------
    button{
    	font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 8px;
	    height: 8px;
	    padding: 0;
	    cursor: pointer;
	    border: 0;
	    border-radius: 50%;
	    outline: none;
	    background: #22963c;
	    @include sp{
	    	width: 6px;
	    	height: 6px;
	    }
	    &:before{
		    content: '';
	    }
    }
    //-------------------------------------------------------
    .slick-active{
    	button{
    		width: 12px;
		    height: 12px;
		    border-radius: 50%;
		    border: solid 2px #fff;
		    box-shadow: 0 0 0 1px #22963c;
		    @include sp{
		    	width: 10px;
		    	height: 10px;
		    }
    	}
	}
}