/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slogan{
	background: #f8f8f8;
	font-size: 1.2rem;
	padding: 6px 0;
	@include sp{
		font-size: 1rem;
	}
}